<div style="padding: 40px">
<h1>Tyler Technologies Virtual Coding Competition</h1>

<h3>Clone from the repository or download a zip to begin development -> <a href="https://github.com/tyler-technologies-oss/codecomp-dropper/" target="_blank">Code Repo</a></h3>

<h2>Welcome</h2>
<div>
    <p>Thank you for participating in our first ever virtual coding competition</p>
    <p>We here at Tyler have built a web based game from scratch called Haunted Tiles</p>
    <p>and we are excited to host a competition for students across the nation to compete in.</p>
    <p>We hope you enjoy this competition and can't wait to see your AI's run.</p>
    <p> - Developers @ Tyler Technologies</p>
</div>

<h2>Important Dates</h2>
 <ol>
     <li><span>REGISTRATION: Sign-up by registering at <a routerLink="/register">here</a> by November 5th 11:59pm MST</span></li>
     <li><span>WATCH: Look for Email updates with event information</span></li>
     <li><span>CODING: Competition Coding opens Friday November 6th at 5:00pm MST</span></li>
     <li><span>SUBMISSION: Submit your code by Friday November 13th at 5:00pm MST</span></li>
     <li><span>FIGHT NIGHT: Tournament begins Friday November 13th at 6:00pm MST</span></li>
 </ol>

<h2>How to Compete</h2>
<mat-divider></mat-divider>
<p>There are 4 steps of this competition. Registering, Coding, Submitting and Watching</p>
<div>
    <h3>Register</h3>
    <p>Register <a routerLink="/register">here</a> by November 5th 11:59pm MST</p>
    <p>You are allowed to compete in teams of up to 4, but can only submit one AI</p>
    <h3>Code</h3>
    <p>Coding will open on November 6th at 5:00pm MST</p>
    <p>Clone from the repository or download a zip to begin development -> <a href="https://github.com/tyler-technologies-oss/codecomp-dropper/" target="_blank">Code Repo</a></p>
    <p>All game details will remain unposted until that time however you can still prepare you computer below:</p>
    <h4>Prepare your Computer</h4>
    <p>There is specific software you'll need to download in order to participate</p>
    <p>latest stable version of node (LTS) here -> <a href="https://nodejs.org/en/" target="_blank">https://nodejs.org/en/</a></p>
    <p>(Optional) Git here -> <a href="https://git-scm.com/book/en/v2/Getting-Started-Installing-Git" target="_blank">https://git-scm.com/book/en/v2/Getting-Started-Installing-Git</a></p>
    <h3>Submit</h3>
    <p>Code should be provided through a public hosted link to a single raw javascript file (preferably on Github), or directly into the submission form as a string</p> 
    <p>We will pull your code at the start of each match. If you used a hosted link and if you’re brave enough :) you technically can push changes throughout the competition</p>
    <p>There will be more directions on submission when coding opens. Know that if your code fails to run it is an automatic forfeit</p>
    <p>Submission will be due by November 13th at 5:00pm MST</p>
    <h3>Watch</h3>
    <p>The competition begins Friday November 13th at 6:00pm MST</p>
    <p>It will be live streamed at <a href="https://www.twitch.tv/tylertechnologies/" target="_blank">https://www.twitch.tv/tylertechnologies/</a></p>
    <p>Follow our channel now so you don't miss out!</p>
</div>

<h2>Tournament Format</h2>
<mat-divider></mat-divider>
<p>This virtual coding competition will be a best of 5 single elimination tournament split across two stages</p>
<h3>Stage 1: Inner School Competition</h3>
<p>During this stage teams will be compete against other teams from their same school</p> 
<p>Seeding will be based upon <strong>registration</strong> order. For example the first team to register will play the last team to register</p>
<h3>Stage 2: The Grand Finale</h3>
<p>The winner from each inner school competition will then compete against each other in the grand finale. Only the first place AI from each school makes it to this stage</p>
<p>This will be a round robin style match. Every school will compete against every other school in 5 rounds. Whoever has the most round wins at the end is our grand finale winner.</p>
<p>If there is tie in round wins the tied schools will go through 5 rounds again</p>


<h2>Questions?</h2>
 
<span>Email <a href="mailto:hauntedtiles@tylertech.com">hauntedtiles@tylertech.com</a></span>

</div>

