<div style="padding: 40px">
    <h1>Rulezzz</h1>
    <p>See more details in the <a href="https://github.com/tyler-technologies-oss/codecomp-dropper/blob/master/README.md" target="_blank">README</a></p>
    <h2>General</h2>
    <ol>
        <li>Teams can have at max 4 team members</li>
        <li>Teams must be made up of actively enrolled students from the same school</li>
        <li>Teams must submit their code by November 13th 5:00pm MST</li>
    </ol>
    <h2>AI Scripts</h2>
    <ol>
        <li>Libraries are allowed, but you'll have to fully embed them in your script</li>
        <li>Scripts that error result in a round loss</li>
        <li>Scripts that take longer than 2 seconds to return result in a round loss</li>
        <li>We reserve the right to disqualify any script if we suspect plagiarism or foul play</li>
    </ol>
    <h2>Game Rules</h2>
    <ol>
        <li>All monsters make 1 move per turn</li>
        <li>A monster can move North, South, East, West or Jump in place</li>
        <li>Tiles have a strength of 3. Every step or jump on a tile breaks it by 1</li>
        <li>Monsters die by stepping on a tile with a strength of 1 or walking into an empty space</li>
    </ol>
    <h2>Tournament Rules</h2>
    <ol>
        <li>Inner School is seeded by registration order</li>
        <li>Grand Finale is round robin</li>
        <li>Every match is the best of 5 rounds</li>
        <li>Different board configurations (maps) will be used throughout the competition</li>
    </ol>
    <h2>Winnings</h2>
    <ol>
        <li>Grand Prize - 1 Winner - $1000 Scholarship</li>
        <li>1st - Every School - $500 cash</li>
        <li>2nd - Every School - $250 cash</li>
        <li>3rd - Every School - $100 cash</li>
    </ol>
</div>
    

